<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>DJI Tello</title>
    <style>
      .button {
        border: 2px solid red;
        color: red;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 8px;
        width: 150px;
      }

      .button:hover {
        background-color: red;
        color: white;
      }
      
      .button1 {background-color:white;}

    </style>

  </head>

  <body>
    {% extends "template.html" %}
    {% block content %}

    <p id="status">Status: Landed</p>
    <button id="TO_LD" class="button button1" onclick="myFunction()">Take Off</button>

    <script>
      function myFunction() {
        if (document.getElementById("TO_LD").innerHTML == "Take Off"){
          if (confirm("Press OK to Confirm Take Off")) {
            txt = "Take Off Executed";
            document.getElementById("TO_LD").innerHTML = "Landing";
            document.getElementById("status").innerHTML = "Status: Flying";
          } else {
            txt = "Take Off Canceled";
          }
        }
        
        else{
          if (confirm("Press OK to Confirm Landing")) {
            txt = "Landing Executed";
            document.getElementById("TO_LD").innerHTML = "Take Off";
            document.getElementById("status").innerHTML = "Status: Landed";
          } else {
            txt = "Landing Canceled";
          }
        }
          
      }
      </script>
    {% endblock %}
  </body>
</html>